doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- link(rel="icon", href!="/assets/icons/favicon.ico")
        link(rel="stylesheet", href="main.css")
        title Steam auto registrator
    body
        noscript sorry js dont work
        #app
            app